body {
  margin: 0;
  font-family: 'Tahoma', 'Geneva', sans-serif;
    background-image: linear-gradient(to top right, #799bf3, #f983b2);
    background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Tahoma', 'Geneva', sans-serif;
}

hr {
	color: white;
	opacity: 100%;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}
